[profile.default]
via_ir = true
optimizer = true
optimizer_runs = 999999
bytecode_hash = "none"
evm_version = "cancun"

[profile.default.fmt]
wrap_comments = true

[lint]
exclude_lints = [
    "screaming-snake-case-immutable",
]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
